.container {
    margin-top: 30px;
}

.dropdown-toggle,
.dropdown-menu {
    border-radius: 0px !important;
}

.dropdown-item:hover {
    color: #FD0D0D;
    background: none;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#join_button {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    background-color: #FD0D0D;
}

.navbar {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    position:absolute;
    z-index:10;
    max-width:100%;
    width:100%;
    font-family: fantasy;
}

.nav-link {
    text-transform: uppercase;
    color: white;
}

.nav-link:hover {
    color: #FD0D0D;
}

.nav-item {
    margin-left: 20px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.dropdown-menu {
    border: 0px;
    text-transform: uppercase;
}

.carousel-caption {
  top: 30%;
}
.font-banner {
    font-family: 'Luckiest Guy', cursive;
    line-height: 80%;
}

.carousel-join-btn {
    border-radius: 0;
    background-color: #FD0D0D;
    font-family: fantasy;
    width: 15%;
    height: 10%;
    font-size: 1.5vw;
}

@media only screen and (max-width: 991px) {
    .dropdown-toggle::after {
        position: absolute;
        right: 0px;
        margin-right: 5%;
        border: 0px;
        content: "+"
    }

    .dropdown-toggle:hover:after{
        content: "-"
    }

    .order-0 {
    background-color: #FFFFFF !important;
    color: black;
    }

    #join_button {
        display: none;
    }

    .dropdown-menu {
        font-family: sans-serif;
        text-transform: capitalize;
    }

    .nav-link {
        font-family: sans-serif;
        text-transform: capitalize;
        color: black;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}